@import "../../designSystem/common.module.scss";
.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &[data-clickable=true]{
        cursor: pointer;
        
        .content {
            height: shrinkedSize(28);
            width: size(28);
            background-color: color(black4);
            border-radius: 20%;
            &:hover::before {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                background-color: color(overwrap);
            }
        }
        
        
    }
    
}

.content {
    height: shrinkedSize(8);
    width: size(8);
    background-color: color(black);
    border-radius: 50%;
}