@import "../../designSystem/common.module.scss";
.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: shrinkedSize(8);
    width: size(8);
    background-color: #333333;
    border-radius: 50%;
}