@import "../../designSystem/common.module.scss";

@mixin hw {
    width: size(160);
    height: size(56);
}

.hidden {
    display: flex;
    align-items: center;
    justify-content: center;
    @include hw;
    border: 2px solid color(black-light);
    border-radius: 4px;
    font-size: size(40);
    color: color(black-light);
}
.container {
    &[data-clickable]{
        position: relative;
        cursor: pointer;
        &:hover::before {
            position: absolute;
            content: "";
            @include hw;
            background-color: color(overwrap);
        }
    }
    @include hw;
    border: 2px solid color(black);
    border-radius: 4px;
    display: flex;
    .right {
        position: relative;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @mixin numberContainer($size,$fontSize) {
            width: $size;
            height: $size;
            font-size: $fontSize;
            color: color(white);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .straightNumContainer {
            @include numberContainer(size(40),size(36))
        }
        .curveNumContainerLeft {
            position: absolute;
            z-index: -1;
            left: - adjust(2);
            top: adjust(2);
            @include numberContainer(size(36),size(28));
        }
        .curveNumContainerRight {
            position: absolute;
            z-index: -2;
            right: 0;
            bottom: adjust(2);
            @include numberContainer(size(36),size(28))
        }
    }
    .left {
        width: size(96);
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            fill: color(black-light);
        }
    }
}

@each $key,$color in $playerColors {
    .container[data-player="#{$key}"] { 
        .right {
            .straightNumContainer {
                background-color: map-get($color, primary);
            }
            .curveNumContainerLeft {
                background-color: map-get($color, primary);
            }
            .curveNumContainerRight {
                background-color: map-get($color, light);
            }
        }
    }
}