$_sizes : (
    8 :8px,
    10: 10px,
    12: 12px,
    16: 16px,
    20: 20px,
    24: 24px,
    28: 28px,
    32: 32px,
    36: 36px,
    40: 40px,
    48: 48px,
    56: 56px
);

@function size($key) {
    @if map-has-key($_sizes, $key) {
        @return map-get($_sizes, $key);
    }
    @error "no key"
};

@function shrinkedSize($key) {
    @if map-has-key($_sizes, $key) {
        @return map-get($_sizes, $key) * 0.9;
    }
    @error "no key"
};

$_colors : (
    black:#333333,
    white: #ffffff,
    "black-light": #999999,
    overwrap: rgba(#ffffff,0.2)
);

$playerColors : (
    0: (
        primary: #FF0033,
        light: #FF99CC
    ),
    1: (
        primary: #0066FF,
        light: #99CCFF
    ),
    2: (
        primary: #FF9933,
        light: #FFCC66
    ),
    3: (
        primary: #339900,
        light: #66CC33
    )
);

@function color($key) {
    @if map-has-key($_colors, $key) {
        @return map-get($_colors, $key);
    }
    @error "no key"
}
