$_sizes : (
    8 :8px,
    10: 10px,
    12: 12px,
    16: 16px,
    20: 20px,
    24: 24px,
    28: 28px,
    32: 32px,
    36: 36px,
    40: 40px,
    48: 48px,
    56: 56px,
    64: 64px,
    72: 72px,
    80: 80px,
    88: 88px,
    96: 96px,
    104: 104px,
    120: 120px,
    136: 136px,
    160: 160px,
    184: 184px,
    208: 208px
);



@function size($key) {
    @if map-has-key($_sizes, $key) {
        @return map-get($_sizes, $key);
    }
    @error "no key"
};

@function shrinkedSize($key) {
    @if map-has-key($_sizes, $key) {
        @return map-get($_sizes, $key) * 0.9;
    }
    @error "no key"
};

$_adjustment : (
    2 : 2px,
    4 : 4px,
    6 : 6px
);

@function adjust($key) {
    @if map-has-key($_adjustment, $key) {
        @return map-get($_adjustment, $key);
    }
    @error "no key"
};

$_colors : (
    white: #ffffff,
    black:#474747,
    "black2": #777777,
    "black3": #bbbbbb,
    overwrap: rgba(#ffffff,0.1)
);

$playerColors : (
    0: (
        primary: #ff4c4c, //#ff6b6b,
        light: #fbaac0
    ),
    1: (
        primary: #0582ff,
        light: #99CCFF
    ),
    2: (
        primary: #ff9b38,
        light: #FFCC66
    ),
    3: (
        primary: #07c007,
        light: #70df70
    )
);

@function color($key) {
    @if map-has-key($_colors, $key) {
        @return map-get($_colors, $key);
    }
    @error "no key"
}
